#addmenu{
    width:100%;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    display: flex;
    position:relative;
    box-sizing:border-box;
    min-height: 100%;
    padding-bottom: 10%;
}
#bigmenu{
    position: fixed;
    overflow-y:scroll; 
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index: 2;
}
#addmenu-holder{
    position: relative;
    background-color: white;
    border-radius: 5px;
    max-width: 565px;
    margin-top: 92px;
    margin-bottom: 24px;
    flex-grow: 1;
}
#addmenu-holder img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
}
#title{
    padding: 30px;
    padding-bottom: 20px;
}
#title h1{
    line-height: 1.3em
}
.foodie{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.foodie:before{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    width: 100%;
    height: 300px;
    content: '';
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.1),transparent);
}
#instructions{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}
#instructions h4{
    margin-bottom: 30px;
}
#instructions .form-control{
    width:100%;
    border-radius: 2px;
}
#instructions .form-control:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
}
#placeorder{
    border-top:1px solid rgba(0,0,0,0.2);
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.add,.minus{
    display:inline;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.add:hover,.minus:hover{
    cursor:pointer;
    background-color: rgba(0,0,0,0.05);
}
#placeorder h3{
    display: inline;
}
#placeorder h4,#placeorder h5{
    display: inline;
}
#placeorder h5{
    line-height: 1.5em;
}
.first{
    opacity: 0;
}
.btn-large{
    background-color: #9c1c26 !important;
    border: 1px solid #9c1c26 !important;
    width: 65%;
    padding: 5px 15px;
    border-radius: 2px;
    height: 50px;
}

.btn-large>div{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: transparent;
}
.btn-large:hover{
    background-color: #b94a55 !important;
    cursor: pointer;
}
.btn-large:focus{
    outline: none;
}
.second{
    margin-left: 10px;
    margin-right:10px;
}
.item-quantity{
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
.placeorder-holder{
    margin-top: 12px;
    display: inline-block;
}
.cancle-x{
    position: absolute;
    right: 30px;
    top:30px;
    text-decoration: none;
    color:white;
    font-size: 30px;
}
.cancle-x:hover{
    text-decoration: none;
    color:rgba(0,0,0,0.02);
    cursor:pointer;
}
.time{
    margin-top: 15px;
    color: #9c1c26;
}
@media(max-width:1025px){
    #addmenu{
        padding-bottom: 45%;
    }
}
@media(max-width:800px){
    #addmenu{
        padding-bottom: 15%;
    }
}
@media(max-width:698px){
    
    #placeorder{
        display: block;
    }
    .placeorder-holder{
        display:block;
        text-align: center;
        margin-bottom: 30px;
    }
    .btn-large{
        display:block;
        width:100%;
    }

}
@media(max-width:600px){
    #addmenu{
        padding-bottom:0;
    }
    #addmenu-holder{
      width:100%;
      height: 100%;
      margin: 0;  
    }
}
@media(max-width:332px){
    .first{
        display: none !important;
    }
}

.share{
    display: flex;
    flex-direction: row;
}
.fb{
    padding-right: 10px;

}

.twt{
    padding-right: 10px;
}
