@import url("https://fonts.googleapis.com/css?family=Varela+Round");
#board{
  height:100%;
}
.myheader{
  padding:20px;
  background-color: white;
  height:350px;
  position:fixed ;
  box-shadow: 0 1px 20px #888888;
  width:100%;
  transition-delay: 2s;
  z-index:2;
}
.ab{
  padding-left:118px;
}
.bc{
  padding-left:50px;
}

#logo-min,#logo{
  width:200px;
  margin-left: -12px;
}
.display{
  display:none;
}
.ffk{
  display: flex;
}
.ffl{
  justify-content: center;
}
.header-top-button{
position: absolute;
top:24px;
right:20px;
display: flex;
justify-content: space-between;
width:330px;
padding-left: 50px;
}


.myheader button{
  width:110px;
  height: 40px;
  background-color: white;
  border:1px solid grey;
  margin-right: 14px;
  position: relative;
}

.btn-red{
  background-color: #9c1c26 !important;
  border:1px solid #9c1c26 !important;
  color:white;
  width:110px;
  height: 40px;
  background-color: white;
  border:1px solid grey;
}
.btn-sml{
  width:75px !important;
}

.search-box{
  display: flex;
  justify-content: space-between;
  width: 450px;
  position: absolute;
  top:70%;
}
.search-box2{
  display: flex;
  justify-content: space-between;
  width: 450px;
  position: absolute;
  top:70%;
}

.search-box > input{
  width:350px;
  height: 35px;
  border:1px solid grey;
  border-radius: 5px;

}
.search-box2 > input{
  width:350px;
  height: 35px;
  border:1px solid grey;
  border-radius: 5px;

}
#search-text{
  font-family: 'Varela Round', sans-serif !important;
  position: absolute;
  top:140px;
  font-size: 2.1em;
  line-height: 1.2em;
}
.header-min{
  max-height: 80px !important;
}
.search-box-min{
  left: 24.3%;
  top: 30%;
}
.min-sign-in{
  margin-left: 13px;
}
.header-top-button-min{
  top: 30% !important;
}
.shopping-cart{
    color: #9c1c26;
    height: 25px;
    width: 25px;
}
.em{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.s-cart{
    color: white;
    margin-left: 18px;
    top: 0;
    position: absolute;
    font-size: 14px;
    background-color: #f69322;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-cart-filled{
  background: #9c1c26;
    border-radius: 50%;
    height: 25px;
    margin-top: 7px;
    padding: 2px;
    width: 29px;
}

.form-control{
  width:350px;
  margin-bottom: 0;
  height:40px;
  margin-right:15px;
  border-radius: 0;
  margin-left: 1px;
}
.holder{
  border:0px;
  width:350px;
}
.form-control:focus{
  border:1px solid #9c1c26 ;
}
.Glogo{
  width:1px;
}
.search-Btn{
  background-color: #9c1c26 !important;
  border:1px solid #9c1c26 !important;
  color:white;
  width:110px;
  height: 40px;
  background-color: white;
  border:1px solid grey;
}
/*modules*/
.m-profile-photo-holder{
  position: absolute;
  top: 15px;
}
.hh{
  right: 120px;
}
.hk{
  right: 0;
}
.lk{
  right: 60px;
  position: absolute;
  top: 26px;
}
.lf{
  right: 50px;
  top: 25px;
  z-index: 1;
}
.m-user-icon-holder:hover,.m-shopping-cart:hover{
cursor:pointer;
}
.m-profile-photo{
  width:40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 10px;
}
.m-user-icon-holder{
display:block;
}
.m-name{
margin-top: 24px;
display: inline-block;
}
.m-shopping-cart{
  color: #9c1c26;
  font-size: 2.5em;
}
.m-info{
  position: absolute;
  top: 0;
  right:0;
  width:30%; 
}
.search-box-min2{
  
    position: absolute;
    top: 350px;
}

.m-profile-options{
  height: 80px;
  position: absolute;
  background: rgba(255,255,255,1);
  top: 50px;
  width: 160px;
  display: none;
  padding-top: 20px;
}
.m-profile-options .m-options{
  display: block;
  color: black;
  text-decoration: none;
  padding-left: 16px;
  margin: 5px;
}
.m-profile-options .m-options:hover{
color: rgb(156, 28, 38);
cursor: pointer;
}
.m-profile-photo-holder:hover .m-profile-options,.m-profile-options:hover{
  display: inline-block;
} 
.m-cart{
height:50px;
width: 50px;
position:absolute;
right:38px;
margin-top: 28px;
margin-left: 20px;
}
.m-cart-items{
  display: none;
  position: absolute;
  top: 25px;
  right: -6px;
  z-index: 2;
  padding-top: 20px;
}
.m-cart:hover .m-cart-items,.m-cart-items:hover{
  display: inline-block;
}
.scr{
  overflow-y: scroll;
  overflow-x: hidden;
}
.m-cart-not-signed-in:hover .m-cart-items,.m-cart-items:hover{
  display: inline-block;
}
.loader{
  animation-name: loading;
  animation-duration: 0.5s;
  animation-delay:0;
  animation-iteration-count: infinite;
  display: inline-block;
}
button:hover,.shopping-cart:hover{
  background-color:rgba(0,0,0,0.05) !important;
	cursor: pointer;
}
button:active,.shopping-cart:active {
  background-color:rgba(0,0,0,0.05) !important;
	cursor: pointer;
}
.btn-red:hover{
  background-color:#b94a55 !important;
	cursor: pointer;
}
.popups{
  overflow-y: hidden;
  padding-right: 17px;
}
@keyframes loading{
  0%{-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  25%{-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
  50%{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
  75%{-ms-transform: rotate(270deg);-webkit-transform: rotate(270deg);transform: rotate(270deg);}
  100%{-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
.load{
  pointer-events: none;
}
.devin{
  position: relative;
  height: 100%;
}
.no-disp{
  display: none;
}

#checking-content-holder{
display: flex;
justify-content: space-between;
position: relative;
padding-top: 80px;
margin-bottom: 50px;
display: -ms-flexbox;
-ms-flex-pack: justify;
}
.first-page-background{
  height:750px;
  position: absolute;
  width:100%
}
#checking-content{
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}
.r{
  position:relative;
}
.d{
  display:none;
}

.moreitems{
    z-index: 1;
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2)
}
.zp{
     top: 34px;
}
.kp{
    top: 40px;
}
.max-sign-in{
  margin-left: 13px;
}
.item:hover{
  background-color: rgba(0,0,0,0.05);
  color: #9c1c26;
  }
.item h4:hover,.carti:hover{
  cursor:default;
}
@media(max-width:1010px){
  .myheader{
    padding-left:20px;
    padding-right:20px;
  }
  .max-sign-in{
    margin-right: 12px;
  }
  .min-sign-up{
    margin-left: 10px;
    
  }
  .min-sign-in{
    left:10px;
    
  }
  .display{
    display:inline-block;
  }
  .display >span{
    width:100%;
    border-bottom:1px solid black;
    margin-top:1px;
    display: block;
  }
  .header-top-button{
    justify-content: flex-end;
    /*display: none;*/
  }
  .m-profile-photo-holder{
    justify-content: flex-end;
    margin-top: 5px;
  }
  
}
@media(max-width:990px){
  .small-head{
    display: none;
  }
}
@media(max-width:783px){
  #checking-content-holder{
    display: block;
    margin-bottom: 0;
  }
}
@media(max-width:767px){
  .search-box-min2 {
    position: absolute;
    top: 223px;
 }
 .abc{
  justify-content: center;
 }
.Mybukkalogo{
  display:none;
}
.search-loc{
  width: 100%;
  display: block;
  margin: auto;
  position: unset;
}
.header-small{
  padding-left:0;
  padding-right:0;
}

}
@media(max-width:680px){
  #logo-min{
    display: none;

  }
}
@media(max-width:526px){
  .max-summit{
    display: none;
  }
  #logo{
    margin:0;
    width:150px;
  }
  .form-control,#PlacesAutocomplete__root,.abc{
    width:100%;
  }
  .fdp{
    display: block;
    margin: auto;
    width: 100%;
    position: unset;
    margin-top: 190px;
  }
  .header-top-button{
    margin-top:-8px;
  }
  .myheader button {
    width: 40%;
    height: 36px;
    margin-right: 0;
}
.header-top-button{
  justify-content: space-around;
  width: 50%;
  padding-left: 0;
}
#search-text{
  top: 100px;
}
.search-box{
  top: 240px;
}
.myheader{
  height: 300px;
}
.header-small{
  padding-left: 20px;
  padding-right: 20px;
}
}
@media(max-width:420px){
  .min-sign-in, .min-sign-up{
    display: none;
  }
}

