@import url("https://fonts.googleapis.com/css?family=Varela+Round");
#board{
  height:100%;
}
.myheader{
  padding:20px;
  background-color: white;
  height:350px;
  position:fixed ;
  box-shadow: 0 1px 20px #888888;
  width:100%;
  transition-delay: 2s;
  z-index:1;
  padding-left: 118px;
}
#logo{
  width:200px;
}
.display{
  display:none;
}
.header-top-button{
position: absolute;
top:20px;
right:30px;
display: flex;
justify-content: space-between;
width:300px;
padding-left: 50px;
}


.myheader button{
width:110px;
height: 40px;
background-color: white;
border:1px solid grey;

}

.btn-red{
  background-color: #9c1c26 !important;
  border:1px solid #9c1c26 !important;
  color:white;
  width:110px;
  height: 40px;
  background-color: white;
  border:1px solid grey;
}
.btn-sml{
  width:75px !important;
}

.search-box{
  display: flex;
  justify-content: space-between;
  width: 450px;
  position: absolute;
  top:70%;
}

.search-box > input{
  width:350px;
  height: 35px;
  border:1px solid grey;
  border-radius: 5px;

}

#search-text{
  font-family: 'Varela Round', sans-serif !important;
  position: absolute;
  top:25%;
  font-size: 2em;
  width: 500px;
  line-height: 1.2em;
}
.header-min{
  max-height: 80px !important;
}
.search-box-min{
  left: 20%;
  top: 30% !important;
}

.header-top-button-min{
  top: 30% !important;
}
.shopping-cart{
  color: #9c1c26;
  font-size: 2.5em;
  margin-top: 5px;
}

.form-control{
  width:350px;
  margin-bottom: 0;
  height:40px;
  margin-right:15px;
  border-radius: 0;
}
.holder{
  border:0px;
  width:350px;
}
.form-control:focus{
  border:1px solid #9c1c26 ;
}
.Glogo{
  width:1px;
}
.search-Btn{
  background-color: #9c1c26 !important;
  border:1px solid #9c1c26 !important;
  color:white;
  width:110px;
  height: 40px;
  background-color: white;
  border:1px solid grey;
}
/*modules*/
.m-profile-photo-holder{
  position: absolute;
top:15px;
right:100px;
display: flex;
justify-content: space-between;
}
.m-user-icon-holder:hover,.m-shopping-cart:hover{
cursor:pointer;
}
.m-profile-photo{
  width:40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  margin-top: -6px;
}
.m-user-icon-holder{
display:block;
width:160px;
height: 64px;
}
.m-name{
margin-top: 24px;
display: inline-block;
}
.m-shopping-cart{
  color: #9c1c26;
  font-size: 2.5em;
}
.m-info{
  position: absolute;
  top: 0;
  right:0;
  width:30%; 
}
.m-profile-options{
    height: 60px;
    position: absolute;
    background: rgba(0,0,0,0.5);
    top:65px;
    right: 0px;
    width: 160px;
    display:none;
}
.m-profile-options .m-options{
  display: block;
  color:rgba(255,255,255,0.7);
  text-decoration: none;
  padding-left: 16px;
  margin: 5px;
}
.m-profile-options .m-options:hover{
color:rgba(255,255,255,1);
cursor: pointer;
}
.m-profile-photo-holder:hover .m-profile-options,.m-profile-options:hover{
  display: inline-block;
} 
.m-cart{
height:50px;
width: 50px;
position:absolute;
right:38px;
margin-top: 28px;
margin-left: 20px;

}
.m-cart-items{
  display: none;
  position: absolute;
  top:45px;
  right:0;
}
.m-cart:hover .m-cart-items,.m-cart-items:hover{
  display: inline-block;
}

.m-cart-not-signed-in:hover .m-cart-items,.m-cart-items:hover{
  display: inline-block;
}
.loader{
  animation-name: loading;
  animation-duration: 0.5s;
  animation-delay:0;
  animation-iteration-count: infinite;
  display: inline-block;
}
button:hover,.shopping-cart:hover{
  background-color:rgba(0,0,0,0.05) !important;
	cursor: pointer;
}
button:active,.shopping-cart:active {
  background-color:rgba(0,0,0,0.05) !important;
	cursor: pointer;
}
.btn-red:hover{
  background-color:#b94a55 !important;
	cursor: pointer;
}
.popups{
  overflow: hidden;
  /*max-height: 100%;*/
}
@keyframes loading{
  0%{-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  25%{-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
  50%{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
  75%{-ms-transform: rotate(270deg);-webkit-transform: rotate(270deg);transform: rotate(270deg);}
  100%{-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
.load{
  pointer-events: none;
}
.devin{
  position: relative;
  height: 100%;
}
@media(max-width:1010px){

  .display-toggle {
    display: none;
  }
  .display{
    display:inline-block;
  }
  .display >span{
    width:100%;
    border-bottom:1px solid black;
    margin-top:1px;
    display: block;
  }
  .header-top-button{
    justify-content: flex-end;
  }
  .m-profile-photo-holder{
    justify-content: flex-end;
    margin-top: 5px;
  }
}
#checking-content-holder{
display: flex;
justify-content: space-between;
position: relative;
padding-top: 80px;
margin-bottom: 50px;
display: -ms-flexbox;
-ms-flex-pack: justify;
}
.first-page-background{
  height:750px;
  position: absolute;
  width:100%
}
#checking-content{
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}
@media(max-width:783px){
  #checking-content-holder{
    display: block;
    margin-bottom: 0;
  }
}
