#deliveryInformation{
	width:350px;
	padding:15px;
	position: absolute;
	z-index:1;
	top:85px;
	background-color: white;
	left:0px;
	padding-top: 20px;
	max-height: 487px;
}
#addCard:hover{
cursor: pointer;
}
.carddetails{
	margin-top: 30px;
	font-size: 1em;
	color: black;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 10px;
}
.carddetailsheader{
	margin-left: -10px;
}
#card-logo{
	display:inline-block;
	font-size: 2em;
}
#card-number{
	display:inline-block;
	margin-left: 10px;
}
.btn-Holder{
	padding-left:10px;
	padding-right:10px;
}
.btn-Holder button{
width:100%;
height: 40px;
background-color: white;
border:1px solid grey;
margin-bottom:10px;
}
#deliveryInformation h2{
	color:black;
	line-height: 2em;
}
.infoholder{
	width:100%;
	position: relative;
	margin-top: 30px;
	font-size: 1.5em;
	color:grey;
}
.inputs{
	width:100%;
	padding-left: 50px;
	height: 40px;
	font-size: 0.7em;
	border:none;
	border-radius: 5px;
}
.icon{
	position: absolute;
	top:2px;
	left:10px;
}

.infoholder:nth-child(2){
	color:black !important;
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	font-size: 1.7em;
}
.inputs:focus{
	border:1px solid #9c1c26;
}