.footer{
  background-color: #333;
  font-size: 16px;
  color: rgb(255, 255, 255) !important;
  display: block;
  position: relative;
  padding-left:5%;
  padding-right:5%;
  
}

.footer1{
  border-bottom: 1px solid grey;
  background-color: #333;
}

.footer2{
  border-bottom: 1px solid grey;
  background-color: #333;
  min-height: 210px;
  padding:0!important;
  padding-top: 35px !important;
}
.footer2>.col-sm-4>ul{
  padding: 0 !important;
}
.footer2>.col-sm-4{
  padding:0;
}
.footer2 li{
  list-style-type: none;
  color: white !important;
  padding-bottom: 5px;
}

.footer3{
  border-bottom: 1px solid grey;
  background-color: #333;
  padding: 0 !important;
  padding-top:2% !important;
  padding-bottom: 2% !important;
}
.footer3>.col-sm-3{
  padding:0!important;
}

.footer4{
  background-color: #333;
  padding: 0 !important;
  font-size: 10px;
  padding-top: 2% !important;
  height: 100px;
}
.footer4>.col-sm-4{
  padding: 0!important;
}

.apple{
  width: 160px;
  height: 46px;
}

.google{
  width: 160px;
  height: 46px;
}
.bukka2{
  width: 14%;
  height: 6%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: -10px;
}

.footer a{
  color: white;
}

.twitter{
  padding-left: 10px;
}

.instagram{
  padding-left: 10px;
}

.red{
  color: #9c1c26;
  font-size: 20px;
}

.red2{
  font-size: 20px;
}

.col-sm-4>a:hover{
  color: #9c1c26;
  text-decoration: none;
}

.footer2 li>a:hover{
  color: #9c1c26;
  text-decoration: none;
}
.row{
  margin:0!important;
}

@media(max-width:767px){
  .footer1{
    display:none;
  }
  .footer li{
    text-align: center;
  }
  .footer3 img{
    display: block;
    margin: auto !important;
  }
  .footer4>.col-sm-4{
    text-align: center;
  }
}

