#chefinformation{
	position: relative;
}

.menuCont{
	height: 490px;
	background-size: 100%;
	padding: 50px;
	padding-top: 100px;
	padding-bottom: 1px;
	color:white;
	position: relative;
}
.menuCont>img{
	display: block;
	margin:auto;
	border-radius: 50%;
	max-height: 100px;
}
.menuCont>.row{
	width:40%;
	margin:auto !important;
	margin-top: 35px !important
}
.menu-left{
	border-top:1px solid rgba(255,255,255,0.5);
	text-align: left;
}
.menu-left>h4{
}
.chef-buttons{
	margin-top: 10px;
}
.chef-buttons .buttn{
	margin:5px;
}
.menu-middle{
	border:1px solid rgba(255,255,255,0.5);
	border-bottom: none;
	text-align: center
}
.menu-right{
	border-top:1px solid rgba(255,255,255,0.5);
	text-align: right;
}
.menuHolder{
	min-height: 62px;
	padding:20px;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menuHolder a{
	text-decoration: none;
	color:black;
	font-size: 0.8em
}
.menuHolder a:hover{
	cursor: pointer;
	color:#9c1c26;
}
.menuHolder a:active{
	color:#9c1c26;
}

#m-background{
position: absolute;
top:0;
bottom:0;
left:0;
right:0;
z-index:-1;
width: 100%
}
#rate:hover{
color:#DAA520;
cursor: pointer;
}
#more{
	color:#9c1c26;
}
#more:hover{
	color:#b94a55;
	cursor: pointer;
}
/*
.menuCont{
	position: relative;
}
.imageHolder{
	width:100%;
	position: relative;
}

#menuPageLogo{
	width:100%;
}
.chefDetailHolder{
	position: absolute;
    width: 400px;
    height: 200px;
    background-color: white;
    top: 30%;
    left: 20px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.menuItems{
	display: flex;
	justify-content: space-around;
	list-style: none;
}*/
.l-selecting{
	color:#b94a55 !important;
}
.menuTop{
	border-top:1px solid rgba(0,0,0,0.2);
	border-bottom:1px solid rgba(0,0,0,0.2);
}

@media(max-width:999px){
	.menuCont>.row{
		width:60%
	}
}
@media(max-width:767px){
	.menuCont>.row{
		width:100%
	}
	.menuHolder{
		display:none;
	}
	.menuCont{
		background-size: 100%;
		height: 500px;
	}
}

@media(max-width:476px){
	/*.menu-left >h4{
		font-size: 8px;
		line-height: 2em;
	}*/
}

.vt {
    width: 300px;
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    padding: 100px 0 20px 0;
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,0.7);
}

h6.tt{

	margin-top: 20px;

}
.yyv {
    overflow-y: auto;
    height: 335px;
    margin-left: -150px;
}
.lkt{
	padding-top: 20px;
}

h6.ttd{

	margin-left: 52px;
}
.t{
	display: block;
	margin-left: 230px;
    margin-top: -65px;
}
.ttm{
	margin-left: 54px;
}
.ttn{
	margin-left: 52px;
}
.blk {
	padding: 2px;
}