.MenuList{
	width: 100%;
	padding: 20px;
	position: relative;
}
.eachMenuHolder{
	margin-top: 50px;
}

.menuCol{
	margin-bottom: 20px;
	padding-left:30px;
	padding-right:30px;

}
.m-menuitem-holder{
	border:1px solid rgba(0,0,0,0.2);
	height:150px;
	padding-left:20px;
	position: relative;
}

.food-logo{
	max-width:180px;
	position: absolute;
	top:0;
	max-height: 148px;
	right:0;

}
.m-menuitem-holder>h4,.m-menuitem-holder>h6{
	max-width:55%;
}

.foodName{
	line-height: 1.6em;
}
.cartBtn{
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 55%;
    left: 20px;
    bottom: 0;
}
.cartBtn a {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.5em;
    padding: 1px 9px;
    color: black;
    width: 1.5em;
    height: 1.5em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.cartBtn p{
	font-size: 1.3em;
	margin-top: 5px;
}
.cartBtn button{
	    height: 2.5em;
}
.cartBtn button:hover,.cartBtn a:hover{
	text-decoration: none;
	cursor:pointer;
	box-shadow:  0 1px 20px #888888;
}
.cartBtn button:active,.cartBtn a:active{
	box-shadow:  0 0px 40px #888888;
}
.minusButton{
	margin-right: 20px;
}
.category{
	margin-bottom: 30px;
	padding-top: 150px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
	background-clip: content-box;
	padding-left: 30px;
    padding-right: 30px
}
.m-menuitem-holder:hover{
	background-color:rgba(0,0,0,0.05);
	cursor:pointer;
 }

@media(max-width:500px){
	.menuCol{
		padding-left: 0;
		padding-right: 0;
	}
	.m-menuitem-holder{
		border-top:none;
		border-right: none;
		border-left:none;
	}
	.category{
		text-align: center;
	}
	.food-logo{
		max-height: 130px;
	}
}
@media(max-width:390px){
	.food-logo{
		max-height: 100px;
	}
}