.mobileAppImage-holder{
	background-color: white;
	position: relative;
	margin-top: 200px;
}

.mobileAppImage-holder .row{
	padding:0 !important;
	margin:0 !important;
	margin-bottom: 145px !important;
}
.mobileAppImage-holder .col-sm-4{
	position: relative;
	padding-left: 118px !important;
}

.pic{
	height: 600px;
	position: absolute;
	top: -180px;
	left: -15%;
	
}
.left-side{
	text-align: right;
	left: -40px;
	display: block;
}
.right-side{
	text-align: left;
	right: 40px;
	display: block;
}


@media(max-width:1258px){
	.pic{
		left: -16%;
	}
}
@media(max-width:1238px){
	.pic{
		left: -19%;
	}
}
@media(max-width:1171px){
	.pic{
		left: -24%;
	}
}
@media(max-width:1123px){
	.pic{
		left: -29%;
	}
}
@media(max-width:1048px){
	.pic{
		left: -33%;
	}
}
@media(max-width:996px){
	.pic{
		left: -36%;
	}
}
@media(max-width:979px){
	.pic{
		left: -40%;
	}
}
@media(max-width:923px){
	.pic{
		left: -44%;
	}
}
@media(max-width:891px){
	.pic{
		left: -47%;
	}
}
@media(max-width:875px){
	.pic{
		left: -37%;
	}
}
@media(max-width:833px){
	.pic{
		left: -40%;
	}
}

@media(max-width:875px){
	.pic{
		height:525px;
	}
}
@media(max-width:767px){
	.pic{
		display:none;
	}
	.left-side, .right-side{
		text-align: center;
		left: -59px;
		top: -199px;
	}
}

@media(max-width:886px){
	.left-side, .right-side{
		top: -185px;
	}
}

.phoneimage{
	width: 75%;
    margin-top: -200px;
    margin-left: 195px;
}
.words > h3 {
	font-size: 20px;
    margin-top: -105px;
    
}
.words > p {
	font-size: 15px;
    margin-top: 20px;
	width: 600px;
	margin-bottom: 30px;
}
.appleicon{
	width: 35px;
	height: 35px;
	
}
.googleicon{
	width: 35px;
	height: 35px;
	margin-left: 20px;
}
.statements{
	margin-left: 120px;
	margin-top: 30px;
}

@media(max-width:1048px){
	
}
@media(max-width:1010px){
	.statements{
		margin-left: 20px;
		margin-top: 50px;
	}
}

@media(max-width:767px){
	.app{
		display: flex;
    	justify-content: center;
	}
	.phoneimage{
		display: none;
	}
	.words > h3{
		text-align: center;
	}
	.words > p{
		text-align: left;
		width: 87%;
		margin-left: 40px;
	}
}