.signInPopup{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
	padding: 10%;
	padding-bottom: 12%;
}
.white-background{
	background-color: white;
	max-height: 500px;
}
.m-position-fix{
	position: relative;
	z-index: 1 !important;
}
.loader{
  animation-name: loading;
  animation-duration: 0.5s;
  animation-delay:0;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes loading{
  0%{-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  25%{-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
  50%{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
  75%{-ms-transform: rotate(270deg);-webkit-transform: rotate(270deg);transform: rotate(270deg);}
  100%{-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
.load{
  pointer-events: none;
}
#headingHolder{
display: flex;
justify-content: space-between;
}
#headingHolder p{
	margin-top: 16px;
}
#cardNumberHolder p{
text-align: left;
}
#CVVNumber{
	width:50%;
	margin-right: 0;
}
#imageHolder img{
	width:51px;
	height:32px;
	margin-left: 5px;
}
#info,.otherinfoHolder,.YearDate{
	display: flex;
	justify-content: space-between;

}
.cvvinfo{
	position: relative;
	width: 50%;
}
#CVVNumber{
	width:20%;
	position: absolute;
	right: 0;
	top:0;
	align-self: right;
}
#MonthNumber{
	margin-right: 10px;
	padding: 2px;
	width:70%;
}
.YearDate input{
	padding-left:20px;
}
.popupHolder{
	position: absolute;
    top: 15%;
    margin: auto;
	background: white;
	width: 500px;
}
.SignUpPopupHolder{
	position: absolute;
    top: 15%;
    margin: auto;
	background: white;
	width: 500px;
}
.AddcardPopupHolder{
	width:100%;
}
.formField{
	padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
}

.formField button{
	width:100%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
}
.formField p{
	text-align: center;
}
#topPart{
	top:0;
	left:0;
	right:0;
	position: relative;
	height:89px;
}
#topPart>p{
	width:34%;
	border-bottom: 2px solid red;
	left:30%;
	top:0;
	text-align: center;
	font-size: 2em;
	position: absolute;
}
#topPart>a{
	position: absolute;
	right:20px;
	top:10px;
	color:red;
	cursor: pointer;
}
#sign-btn{
	margin-left: 5px;
}
.formField input{
	display:block !important;
	width:100% !important;
	margin-bottom: 20px !important ;
	height: 40px !important;
	padding-left: 10px !important;
}
/*.msign-up{
	padding-left:25px;
	padding-right: 25px;
}*/

/*@media(max-width:1010px){
	.popupHolder{
		margin:0,0,0,0;
	}
}*/
@media(max-width:503px){
	.popupHolder{
		width: 450px;
	}
	.SignUpPopupHolder{
		width: 500px;
	}
	.formField{
		max-width: 519px;
	}
}
@media(max-width:445px){
	.popupHolder{
		width: 430px;
	}
	.SignUpPopupHolder{
		width: 500px;
	}
	.formField{
		max-width: 519px;
	}
}
@media(max-width:398px){
	.popupHolder{
		width: 390px;
	}
	
}
@media(max-width:354px){
	.popupHolder{
		width: 350px;
	}
	
}
@media(max-width: 473px){
	.SignUpPopupHolder {
		width: 467px;
	}
}
@media(max-width:436px){
	.SignUpPopupHolder {
		width: 433px;
	}
}
@media(max-width:402px){
	.SignUpPopupHolder {
		width: 399px;
	}
}
@media(max-width:371px){
	.SignUpPopupHolder {
		width: 365px;
	}
}
@media(max-width:350px){
	.SignUpPopupHolder {
		width: 375px;
	}
}
@media(max-width:338px){
	.SignUpPopupHolder {
		width: 355px;
	}
}