.summary-holder{
	background-color: #F0F0F0;
	position: relative;
	margin-top: 500px;
}
.summary-holder .row{
	padding:0 !important;
	padding-top: 5% !important;
	padding-bottom: 2% !important;
}

.image4{
	width:150px;
	height: 150px;
	display: block;
	margin:auto;
}
.summary-holder .col-sm-4{
	text-align: center;
}
.summary-p{
	font-size: 15px;
	text-align: left;
	margin-left: 40px;
}

.summary-holder .summary-text{
	text-align: center;
	font-size: 2em;
	color: #9c1c26;
}
.s-text{
	font-size: 17px;
	color: black;
}

.summary-appear {
	transform: translate(100%);
  }
  
  .summary-appear.summary-appear-active {
	transform: translate(0%);
	transition: transform 2000ms ease-in-out;
  }