.menuHolder{
	padding:20px;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menuHolder a{
	text-decoration: none;
	color:black;
	font-size:1.2em;
}
.menuHolder a:hover{
	cursor: pointer;
	color:#9c1c26;
}
.menuHolder a:active{
	color:#9c1c26;
}
.menuCont{
	position: absolute;
	top:0;
	height:inherit;
	width:100%;
	z-index: 1;
}
.imageHolder{
	width:100%;
	position: relative;
}

#menuPageLogo{
	width:100%;
}
.chefDetailHolder{
	position: absolute;
    width: 400px;
    height: 200px;
    background-color: white;
    top: 30%;
    left: 20px;
    border-radius: 5px;
    padding: 20px;
}
.menuItems{
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.menuTop{
	border-top:1px solid rgba(0,0,0,0.2);
	border-bottom:1px solid rgba(0,0,0,0.2);
}